/*
** A NOTE ABOUT SASS AND COMPASS **
** For our current scss files to compile correctly, you must use the following versions:
** SASS: 3.2.12
** COMPASS: 0.12.2
**
** If you're getting weird errors during sass compilation and don't know why, check your versions.
** sass -v
** compass -v
**
*/

//////////////////////////////
// Imports
//////////////////////////////

@import "lib/foundation";

* { display: none; }


h1 {
    @include block-grid(3);
    font-size: 500px;
}


p {
    display: block;
}
